images/

backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/HELP.md

# Backend - IDE
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr
backend/.vscode/
backend/.env*

# Backend - Build tools
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

# Backend - Build output
backend/build/
backend/nbproject/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/

# Backend - Logs
backend/logs/

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Frontend - Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Frontend - IDE
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

.idea/
.vscode/
*.swp
*.swo
*.iml
.DS_Store