<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="backend"/>
    
    <!-- Console Appender with colored pattern -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %highlight(%level)|%cyan(%d{yyyy-MM-dd HH:mm:ss})|%yellow(%thread)|%magenta(%logger{0})|%msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" level="INFO" />
    </root>
</configuration>
